<header class="header-area header-sticky wow slideInDown " data-wow-duration="0.75s" data-wow-delay="0s">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav ">
          <a href="index.html" class="logo">
            <img src="../../../assets/images/logo1.jpg" style="    width: 200px;">
          </a>
          <ul class="nav">
            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
            <li class="scroll-to-section"><a href="#brands">Brands</a></li>
            <li class="scroll-to-section"><a href="#clients">Our Clients</a></li>
            <!-- <li class="scroll-to-section"><a href="#about">About</a></li>
            <li class="scroll-to-section"><a href="#portfolio">Portfolio</a></li>
            <li class="scroll-to-section"><a href="#video">Videos</a></li>
            <li class="scroll-to-section"><a href="#contact">Contact Us</a></li> -->
            <!-- <li class="scroll-to-section">
              <div class="main-red-button-hover"><a href="#contact">Contact Us Now</a></div>
            </li> -->
            <li></li>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
        </nav>
      </div>
    </div>
  </div>
</header>
