<div class="main-banner" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div >
              <div class="item header-text">
                <h6>Welcome to Onix</h6>
                <h2>Buy <em>your mobile</em> from the cheapest place <span>NOW</span></h2>
                <p>We independently research, test, review, and recommend the best products</p>
                <div class="down-buttons">
                  <div class="main-blue-button-hover">
                    <a href="#contact">Our Services</a>
                  </div>
                  <div class="call-button">
                    <a href="#"><i class="fa-solid fa-phone"
                      style="background: linear-gradient(105deg, rgba(255,104,95,1) 0%, rgba(255,144,104,1) 100%);
                      padding:10px; color: #fff;     width: 18px;
  height: 20px;     border-radius: 50%;font-size:20px"></i><span style="margin-left: 10px;">010-020-0340</span> </a>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
