<section class="single_product_details_area section_padding_0_100" style="margin-top: 140px;">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-6">
        <div class="single_product_desc">
          <h2 class="title">{{GeneralPhones?.phone?.title}}</h2>
          <h6 class="price" style="font-weight: 300;margin-left: 2px; margin-bottom: 14px;">{{GeneralPhones?.phone?.storage }}</h6>
          </div>
        <div class="single_product_thumb">
          <div id="product_details_slider" class="carousel slide" data-ride="carousel"
            style="height: 400px; display: flex; flex-direction: column;">

            <ol class="carousel-indicators">
              <ng-container *ngFor="let photo of GeneralPhones.phone?.phonePhotoes ;let i =index">
                <li data-target="#product_details_slider" (click)="setActive(photo.id)"
                  [ngClass]="{'active': photo.isActive == true }"
                  style="background-image: url({{photo.photo}});cursor: pointer;">
                </li>
              </ng-container>
            </ol>

            <div class="carousel-inner" *ngIf="GeneralPhones?.phone?.phonePhotoes">
              <ng-container *ngFor="let photo of GeneralPhones.phone.phonePhotoes">
                <div class="carousel-item active" *ngIf="photo.isActive == true">
                  <img class="d-block" src="{{photo.photo}}" style="max-width: 350px; max-height:390px; margin: auto;">
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="single_product_desc">
          <div class="padding-x-md padding-y-xl flex flex-center" style="    display: flex;
          justify-content: space-between;">
            <ng-container *ngFor="let size of PhoneSizes">
            <div class="text-center">
              <div class="margin-bottom-xs">
                <button class="reset btn-gradient-1 " style="background-color: #fff;  padding: 3px;"  (click)="getColorsBySize(size);">{{size}}</button>
              </div>

            </div>

          </ng-container>

          </div>
          <div class="padding-x-md padding-y-xl flex flex-center" style="    display: flex;
          justify-content: space-between; margin-top: 12px;">
          <ng-container *ngFor="let color of ColorsSize">
            <div class="text-center">
              <div class="margin-bottom-xs">
                <div style="width: 100px; height:50px ; display: flex ; justify-content: center;">
                  <img src="../../../assets/images/iphone-finish-silver-2021.jpg" alt="" *ngIf="color=='Silver'" (click)="getPhonesByColorAndSize(color);">

                 <img src="../../../assets/images/iphone-13-finish-green-202203.jpg" alt="" *ngIf="color=='Alpine Green'" (click)="getPhonesByColorAndSize(color);">
                </div>
                <button class="reset btn-gradient-1 " style="  padding: 3px;" [ngStyle]="color == 'Alpine Green' && {'background-color': '#005c4c'} || null"
                 (click)="getPhonesByColorAndSize(color);">
                  {{color}}</button>
              </div>

            </div>
          </ng-container></div>

          <div id="pricing" class="pricing-tables">
            <div class="row">
              <div class="col-lg-12">
                <div class="item first-item" style="    padding: 25px 25px 20px 25px;">
                  <!-- <h4>{{General.client?.title}}</h4> -->

                  <img *ngIf="General.client?.title" style="    max-width: 150px;"
                    src="http://194.135.33.234:8090/logos/{{General.client?.title}}.png" alt="">
                  <div style="display: flex;     margin: 20px 0;">
                    <div class="col-3" style="display: flex;align-items: center; ">
                      <label class="container-checkbox">
                        <img src="../../../assets/images/5valu.png" alt="">
                        <input type="checkbox" disabled [checked]="General.client&&General.client.valu == '1'">
                        <span [ngClass]="General.client&&General.client.valu == '1'?'checkmark':'checkxmark'"></span>
                      </label>
                    </div>


                    <div class="col-3" style="display: flex;align-items: center;">
                      <label class="container-checkbox">
                        <div class="icon">
                          <img src="../../../assets/images/3visa.png" alt="">

                        </div>
                        <input type="checkbox" disabled [checked]="General.client&&General.client.onlinePayment == '1'">
                        <span
                          [ngClass]="General.client&&General.client.onlinePayment == '1'?'checkmark':'checkxmark'"></span>
                      </label>
                    </div>

                    <div class="col-3" style="display: flex;align-items: center; ">
                      <label class="container-checkbox">
                        <div class="icon">
                          <img src="../../../assets/images/3cod.png" alt="">
                        </div>
                        <input type="checkbox" disabled
                          [checked]="General.client&&General.client.cashOnDelivery == '1'">
                        <span
                          [ngClass]="General.client&&General.client.cashOnDelivery == '1'?'checkmark':'checkxmark'"></span>
                      </label>
                    </div>

                    <div class="col-3" style="display: flex;align-items: center;">
                      <label class="container-checkbox">
                        <div class="icon">
                          <img src="../../../assets/images/bankinstallments.png" alt="">
                        </div>
                        <input type="checkbox" disabled
                          [checked]="General.client&&General.client.bankInstallments == '1'">
                        <span
                          [ngClass]="General.client&&General.client.bankInstallments == '1'?'checkmark':'checkxmark'"></span>
                      </label>
                    </div>
                  </div>


                  <div style="padding-top: 30px;border-top: 1px solid #eee;">
                    <p style="font-size: 17px; font-weight: 600;color: #2a2a2a;">{{HomeProduct[0]?.title}}</p>
                    <p *ngIf="winnerVariant" style="font-size: 15px;color: #7a7a7a;">
                      {{winnerVariant.size}}
                      <span *ngIf="winnerVariant&&winnerVariant.color"> , {{winnerVariant?.color}}</span>
                    </p>
                  </div>



                  <span class="winner-price" style="    padding-block: 10px;
                  border-bottom: 1px solid #ddd;">{{HomeProduct[0]?.price|number }}
                    EGP</span>


                  <div class="row" style="margin-top:30px">


                    <div class="main-blue-button-hover">
                      <a href="{{HomeProduct[0].link}}" target="_blank">View Deal</a>
                    </div>
                    <div style="margin-top: 10px;display: flex;justify-content: end;">

                      <select style="    border: none;
                      width: 100px; cursor: pointer;font-size: 14px;font-weight: 500;
                      color: #323232;" (change)="routeTo($event)">
                        <option class="cutomOption" hidden selected>{{AllPhones.length}} More </option>

                        <option class="cutomOption" *ngFor="let price of AllPhones" value="{{price.link}}"> EGB
                          {{price.price|number}}
                          {{price.website}} </option>

                      </select>
                    </div>

                  </div>
                </div>
              </div>

            </div>
            <!-- <p class="available">Available: <span class="text-muted">In Stock</span></p> -->


          </div>
        </div>
      </div>
      <div class="row ">

        <ng-container *ngFor="let size of PhoneSizes">

          <p style="margin: 15px;" (click)="getColorsBySize(size);">{{size}}</p>
        </ng-container>

        <ng-container *ngFor="let color of ColorsSize">

          <p style="margin: 15px;" (click)="getPhonesByColorAndSize(color);">{{color}}</p>
        </ng-container>

        <ng-container *ngFor="let product of HomeProduct">
          <p style="margin: 15px;">{{product.title}} <span style="color: red;">
              {{product.price}}
            </span> <span>{{product.website}}</span> </p>
        </ng-container>


        <div class="single_product_desc">
          <div class="card-header" role="tab" id="headingTwo">
            <div id="accordion" role="tablist">
              <div class="card" style="margin-top:30px">
                <div class="card-header" role="tab" id="headingOne">
                  <h6 class="mb-0">
                    <a style="color: #212529;" data-bs-toggle="collapse" href="#collapseOne" role="button"
                      aria-expanded="false" aria-controls="collapseExample">DISPLAY</a>
                  </h6>
                </div>

                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                  data-parent="#accordion">
                  <div class="card-body">
                    <p>Display size : {{GeneralPhones?.phone?.displaySize}} inches</p>
                    <p>Resolution : {{GeneralPhones?.phone?.resolution}}</p>

                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                  <h6 class="mb-0">
                    <a style="color: #212529;" data-bs-toggle="collapse" href="#MEMORY" role="button"
                      aria-expanded="false" aria-controls="collapseExample">MEMORY</a>
                  </h6>
                </div>
                <div id="MEMORY" class="collapse show" role="tabpanel" aria-labelledby="headingTwo"
                  data-parent="#accordion">
                  <div class="card-body">
                    <p>Internal : {{GeneralPhones?.phone?.ram}}GB RAM</p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                  <h6 class="mb-0">
                    <a style="color: #212529;" data-bs-toggle="collapse" href="#Platform" role="button"
                      aria-expanded="false" aria-controls="collapseExample">Platform</a>
                  </h6>
                </div>
                <div id="Platform" class="collapse show" role="tabpanel" aria-labelledby="headingTwo"
                  data-parent="#accordion">
                  <div class="card-body">
                    <p>OS : {{GeneralPhones?.phone?.os}}</p>
                    <p>Chipset : {{GeneralPhones?.phone?.chipset}}</p>
                  </div>
                </div>
              </div>


              <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                  <h6 class="mb-0">
                    <a style="color: #212529;" data-bs-toggle="collapse" href="#Battery" role="button"
                      aria-expanded="false" aria-controls="collapseExample">Battery</a>
                  </h6>
                </div>
                <div id="Battery" class="collapse show" role="tabpanel" aria-labelledby="headingTwo"
                  data-parent="#accordion">
                  <div class="card-body">
                    <p>Type : {{GeneralPhones?.phone?.batteryType}}</p>
                    <p>Size : {{GeneralPhones?.phone?.batterySize}}</p>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>





      </div>

    </div>
  </div>
</section>


<!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area End >>>>>>>>>>>>>>>>>>>>>>>>> -->
